---
import { Image } from "astro:assets";

interface Props {
    src: ImageMetadata;
    alt: string;
    aspectRatio?: string;
    className?: string;
}

const { src, alt, aspectRatio = "3/4", className } = Astro.props;
---

<div class={`aspect-[${aspectRatio}] overflow-hidden relative ${className}`}>
    <Image
        src={src}
        alt={alt}
        class="w-full h-full object-cover will-change-transform"
    />
</div>

<style>
    img {
        transform-origin: center;
        backface-visibility: hidden;
        -webkit-font-smoothing: subpixel-antialiased;
    }
</style>
