---

---

<header class="bg-black text-white px-20 py-10">
    <nav
        class="flex justify-between items-center font-inter text-[22px] font-semibold"
    >
        <ul class="flex justify-between items-center gap-x-12">
            <li>
                <a href="/">Link 1</a>
            </li>
            <li>
                <a href="/">Link 2</a>
            </li>
            <li>
                <a href="/">Link 3</a>
            </li>
            <li>
                <a href="/">Link 4</a>
            </li>
        </ul>

        <div class="flex justify-between items-center">
            <a href="/contact-us">Contact Us</a>
        </div>
    </nav>
</header>
