---
import { Image } from "astro:assets";
import Logo from "@assets/logo.png";
---

<header class="bg-black text-white px-5 lg:px-20 py-10">
    <nav class="font-anton text-[22px]">
        <a href="/" class="logo-link uppercase text-2xl">
            <Image
                src={Logo}
                alt="Logo"
                class="max-h-12 w-auto transition-transform duration-300"
            />
        </a>
    </nav>
</header>

<style lang="scss">
    .logo-link {
        display: flex;
        align-items: center;
        position: relative;

        &:hover {
            img {
                transform: scale(1.05);
            }
        }
    }
</style>
