---
interface Props {
    videoId: string;
}

const { videoId } = Astro.props;
---

<div class="w-full relative" style="padding-bottom: 177.77%;">
    <iframe
        src={`https://www.youtube.com/embed/${videoId}?autoplay=1&mute=1&vq=hd1080&rel=0`}
        title="YouTube Short"
        class="absolute top-0 left-0 w-full h-full"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
    >
    </iframe>
</div>
