---
import { Image } from "astro:assets";
import Logo from "@assets/circus/logo.png";
import Hero from "@assets/circus/hero.png";
import Join from "@components/buttons/Join.astro";
---

<section class="bg-black text-white pt-4">
    <div class="container mr-auto w-full grid grid-cols-8 gap-24">
        <div class="col-span-3">
            <Image
                src={Hero}
                alt="Circus Electra"
                class="w-full h-full object-cover"
            />
        </div>
        <div class="col-span-4">
            <div class="flex">
                <Image
                    src={Logo}
                    alt="Circus Electra"
                    class="max-h-48 w-auto mt-7"
                />
            </div>
            <h1 class="text-[80px] uppercase font-anton mb-10 leading-tight">
                A Spectacle of Pure Fun
            </h1>
            <div class="text-white/60 text-[20px]">
                <p class="mb-6">
                    Step into Circus Electra, a high-energy, fully immersive
                    event where twisted circus themes and mind-blowing
                    production create an atmosphere like no other. This is not
                    just a party—it’s an explosion of visuals, entertainment,
                    and non-stop excitement.
                </p>
                <p class="mb-6">
                    With world-class DJs dropping electrifying beats to match
                    the spectacle, expect a lineup of drummers, singers,
                    dancers, saxophonists, trumpeters, guitarists, and
                    keyboardists, all bringing the energy to dizzying heights.
                    Don’t be surprised if a unicorn or a mischievous clown stops
                    by to say hello! Every moment is captured by our
                    photographers and videographers, ensuring the memories last
                    long after the night ends.
                </p>
                <p>
                    This is Circus Electra—All the fun is this way.
                    #AllTheFunIsThisWay
                </p>
            </div>
            <div class="mt-10">
                <Join />
            </div>
        </div>
    </div>
</section>
