---
import { Image } from "astro:assets";
import Logo from "@assets/circus_spectacle/logo.png";
import Hero from "@assets/circus_spectacle/hero.png";
import JoinFlat from "@assets/common/JOIN-US-_1_.webp";
---

<section class="bg-black text-white">
    <div class="container mr-auto w-full grid grid-cols-6 gap-24">
        <div class="col-span-3 relative pt-36">
            <div class="flex absolute -top-10 left-3">
                <Image
                    src={Logo}
                    alt="Circus Electra"
                    class="max-h-28 w-auto"
                />
            </div>
            <h1
                class="text-8xl uppercase font-sans font-extrabold mb-10 leading-[0.9] text-[#F73C65]"
            >
                A Spectacle of Pure Fun
            </h1>
            <div class="text-white/60 text-[20px] max-w-10/12">
                <p class="mb-6">
                    Step into Circus Electra, a high-energy, fully immersive
                    event where twisted circus themes and mind-blowing
                    production create an atmosphere like no other. This is not
                    just a party—it's an explosion of visuals, entertainment,
                    and non-stop excitement.
                </p>
                <p class="mb-6">
                    With world-class DJs dropping electrifying beats to match
                    the spectacle, expect a lineup of drummers, singers,
                    dancers, saxophonists, trumpeters, guitarists, and
                    keyboardists, all bringing the energy to dizzying heights.
                    Don't be surprised if a unicorn or a mischievous clown stops
                    by to say hello! Every moment is captured by our
                    photographers and videographers, ensuring the memories last
                    long after the night ends.
                </p>
                <p>
                    This is Circus Electra—All the fun is this way.
                    #AllTheFunIsThisWay
                </p>
            </div>
            <a
                href="/join"
                class="mt-10 flex items-center justify-center group"
            >
                <Image
                    src={JoinFlat}
                    alt="Join Us"
                    width={1102}
                    height={529}
                    class="w-[368px] h-auto object-contain quality-100 transition-all duration-300 hover:scale-110 group-hover:drop-shadow-[0_0_30px_rgba(8,190,242,0.6)] group-hover:-translate-y-2"
                />
            </a>
        </div>
        <div class="col-span-3 pt-28">
            <Image
                src={Hero}
                alt="Circus Electra"
                class="w-full h-full object-cover"
            />
        </div>
    </div>
</section>

<style>
    @keyframes pulse {
        0% {
            filter: drop-shadow(0 0 30px rgba(8, 190, 242, 0.6));
        }
        50% {
            filter: drop-shadow(0 0 50px rgba(8, 190, 242, 0.8));
        }
        100% {
            filter: drop-shadow(0 0 30px rgba(8, 190, 242, 0.6));
        }
    }

    .group:hover img {
        animation: pulse 2s infinite;
    }
</style>
