---
interface Props {
    link?: string;
}

const { link = "/join" } = Astro.props;
---

<div>
    <a
        href={link}
        class="bg-white font-anton text-4xl text-black px-20 py-3 rounded-[10px] border-2 border-white inline-block relative overflow-hidden transition-all duration-300 hover:bg-transparent hover:text-white hover:-translate-y-1 hover:shadow-[0px_8px_16px_0px_rgba(255,255,255,0.1)]"
    >
        <span class="relative z-10">JOIN US</span>
    </a>
</div>
