---
import Layout from "../layouts/Layout.astro";
import Hero from "@components/events/CircusElectraSpectacleHero.astro";
import GridGallery from "@components/shared/GridGallery.astro";

const rawImports = import.meta.glob<ImageMetadata>(
    "../assets/circus_spectacle/gallery/*.jpg",
    {
        eager: true,
        import: "default",
    }
);
const images = Object.values(rawImports);
---

<Layout
    title="Circus Electra Spectacle - Purple Wave Events"
    description="Witness the extraordinary Circus Electra Spectacle - where artistry meets innovation in a breathtaking performance."
    type="article"
>
    <div class="bg-black container w-full mx-auto px-5 lg:px-16 pb-28">
        <Hero />
        <div class="py-20 w-full"></div>
        <div class="container w-full mr-auto px-5">
            <GridGallery images={images} altPrefix="Circus Spectacle image" />
        </div>
        <div class="w-full h-96"></div>
    </div>
</Layout>

<style>
    body {
        background: #000 url("/circus bg.webp") no-repeat center center fixed;
        background-size: cover;
        padding: 20px 15px;
    }
    @media (min-width: 768px) {
        body {
            padding: 40px 25px;
        }
    }
    @media (min-width: 1024px) {
        body {
            padding: 105px 30px;
        }
    }
</style>
