---
import Layout from "../layouts/Layout.astro";
import SecondaryHeader from "@components/shared/SecondaryHeader.astro";
import Hero from "@components/events/CircusHero.astro";
import GridGallery from "@components/shared/GridGallery.astro";
const rawImports = import.meta.glob<ImageMetadata>(
    "../assets/circus/gallery/*.jpg",
    {
        eager: true,
        import: "default",
    }
);
const images = Object.values(rawImports);
---

<Layout
    title="Circus Electra - Purple Wave Events"
    description="Experience the magic of Circus Electra - a spectacular show combining traditional circus arts with modern entertainment."
    type="article"
>
    <div class="bg-black">
        <SecondaryHeader />
        <Hero />
        <div class="py-20 w-full"></div>
        <div class="container w-full mr-auto px-5">
            <GridGallery images={images} altPrefix="Circus gallery image" />
        </div>
        <div class="w-full h-96"></div>
    </div>
</Layout>
