---
import Layout from "../layouts/Layout.astro";
import SecondaryHeader from "@components/shared/SecondaryHeader.astro";
import Hero from "@components/events/CircusHero.astro";

import { Image } from "astro:assets";
const rawImports = import.meta.glob<ImageMetadata>(
    "../assets/circus/gallery/*.jpg",
    {
        eager: true,
        import: "default",
    }
);
const images = Object.values(rawImports);
---

<Layout>
    <div class="bg-black">
        <SecondaryHeader />
        <Hero />
        <div class="py-20 w-full"></div>
        <div class="container w-full mr-auto px-5">
            <div class="grid grid-cols-4 gap-10">
                {
                    images.map((src, index) => (
                        <div class="aspect-[3/4] overflow-hidden">
                            <Image
                                src={src}
                                alt={`Gallery image ${index + 1}`}
                                class="w-full h-full object-cover"
                            />
                        </div>
                    ))
                }
            </div>
        </div>
        <div class="w-full h-96"></div>
    </div>
</Layout>
