---
import Layout from "../layouts/Layout.astro";
import SecondaryHeader from "@components/shared/SecondaryHeader.astro";
import Hero from "@components/events/Hero.astro";

import { Image } from "astro:assets";
const rawImports = import.meta.glob<ImageMetadata>(
    "../assets/society/gallery/*.jpg",
    {
        eager: true,
        import: "default",
    }
);
const images = Object.values(rawImports);
---

<Layout>
    <div class="bg-black">
        <SecondaryHeader />
        <Hero />
        <div class="py-20 w-full"></div>
        <div class="container w-full mr-auto px-5">
            <div class="col-span-4 mb-20">
                <div
                    class="relative w-full aspect-video overflow-hidden rounded-[10px] max-h-[600px]"
                    style="background-image: url('https://img.youtube.com/vi/tWSSAZCVx_c/maxresdefault.jpg'); background-size: cover; background-position: center;"
                >
                    <iframe
                        class="absolute top-0 left-0 w-full h-full"
                        src="https://www.youtube.com/embed/tWSSAZCVx_c?autoplay=0&rel=0"
                        title="MySociety Event Video"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen
                    >
                    </iframe>
                </div>
            </div>

            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-10">
                {
                    images.map((src, index) => (
                        <div class="aspect-[3/4] overflow-hidden group cursor-pointer">
                            <Image
                                src={src}
                                alt={`Gallery image ${index + 1}`}
                                class="w-full h-full object-cover transition-all duration-500 group-hover:scale-110 group-hover:rotate-2"
                            />
                        </div>
                    ))
                }
            </div>
            <div class="w-full h-96"></div>
            <div class="w-full h-96"></div>
        </div>
    </div>
</Layout>
