<section class="bg-black text-white">
    <div class="grid grid-cols-2 font-anton">
        <div
            class="min-h-[838px] bg-[#C1ABA6] flex justify-center items-center uppercase text-8xl"
        >
            <p class="text-center">My Societi</p>
        </div>
        <div
            class="min-h-[838px] bg-[#533B4D] flex justify-center items-center uppercase text-8xl"
        >
            <p class="text-center">Let’s Brunch</p>
        </div>
        <div
            class="min-h-[838px] bg-[#F564A9] flex justify-center items-center uppercase text-8xl"
        >
            <p class="text-center">Circus Electra</p>
        </div>
        <div
            class="min-h-[838px] bg-[#FAA4BD] flex justify-center items-center uppercase text-8xl"
        >
            <p class="text-center">The House Of Circus Electra</p>
        </div>
    </div>
</section>
