<section class="bg-black text-white">
    <div class="grid grid-cols-1 md:grid-cols-2 font-anton">
        <a
            href="/my-society"
            class="gallery-card min-h-[400px] md:min-h-[838px]"
        >
            <div class="card-inner">
                <div class="card-front bg-[#C1ABA6]">
                    <p class="text-center uppercase text-5xl md:text-8xl">
                        My Societi
                    </p>
                </div>
                <div class="card-back bg-[#C1ABA6]">
                    <p class="text-center text-2xl md:text-4xl">
                        Discover More About My Societi
                    </p>
                </div>
            </div>
        </a>
        <a
            href="/lets-brunch"
            class="gallery-card min-h-[400px] md:min-h-[838px]"
        >
            <div class="card-inner">
                <div class="card-front bg-[#533B4D]">
                    <p class="text-center uppercase text-5xl md:text-8xl">
                        Let's Brunch
                    </p>
                </div>
                <div class="card-back bg-[#533B4D]">
                    <p class="text-center text-2xl md:text-4xl">
                        Explore Let's Brunch
                    </p>
                </div>
            </div>
        </a>
        <a
            href="/circus-electra"
            class="gallery-card min-h-[400px] md:min-h-[838px]"
        >
            <div class="card-inner">
                <div class="card-front bg-[#F564A9]">
                    <p class="text-center uppercase text-5xl md:text-8xl">
                        Circus Electra
                    </p>
                </div>
                <div class="card-back bg-[#F564A9]">
                    <p class="text-center text-2xl md:text-4xl">
                        Enter the World of Circus Electra
                    </p>
                </div>
            </div>
        </a>
        <a
            href="/circus-electra-spectacle"
            class="gallery-card min-h-[400px] md:min-h-[838px]"
        >
            <div class="card-inner">
                <div class="card-front bg-[#FAA4BD]">
                    <p class="text-center uppercase text-5xl md:text-8xl">
                        The House Of Circus Electra
                    </p>
                </div>
                <div class="card-back bg-[#FAA4BD]">
                    <p class="text-center text-2xl md:text-4xl">
                        Welcome to The House of Circus Electra
                    </p>
                </div>
            </div>
        </a>
    </div>
</section>

<style lang="scss">
    .gallery-card {
        text-decoration: none;
        display: block;

        &:hover {
            text-decoration: none;
        }
    }
</style>
